.card-container, .card{
    margin: 30px;
}
.card-text, .card-price{
    color: darkgrey;
}

body{
    background-color: grey;
    padding: 20px;
    margin: 10px;
    font-family: 'Noto Serif SC', serif;
    align-items:center;
}

.btn{
    background-color: darkgrey;
    border-color: darkgrey;

}


