<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../images/black-dress-kick.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">black dress</h5>
    <p class="card-text">De apocalypsi gorger omero undead survivor dictum mauris.</p>
    <p class = "card-price">$1,000,000</p><br/>
    <a href="#" class="btn btn-primary">add to cart</a>
  </div>
</div>